<div>
<div style="height:110vh;width:100vw;background-color:black;">

  <h2 style="text-align:center;color:white"><u>Resorts</u></h2><br/>
  <div style="height:60vh;width:50vw;background-color:black;margin-left:25vw;
              margin-right:25vw">
              <!-- image --><img  src="/assets/hutResort.jpg" alt="bg1" style="min-width: 100%;
              max-height: 100%;border-radius:25px">
    </div>
    <div style="height:35vh;width:70vw;background-color:transparent;margin-left:15vw;margin-right:15vw;color:white">
      <!-- content --><br/>
      <h3 style="text-align:center"> &nbsp&nbsp<u>Hut Resort</u></h3>
      <p style="padding-left:10px">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna
         aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit
           esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
            occaecat cupidatat non proident, sunt in culpa qui officia
             deserunt mollit anim id est laborum</p>
             <p style="padding-left:10px;float:left">Maximum Accomodation :4</p>
            <p style="padding-right:10px;float:right">Price Starts at Rs.37999*</p>
      </div>
</div>
<hr style="margin:0px 0px 0px 0px;">
<div style="height:100vh;width:100vw;background-color:black">
  <br/>
  <div style="height:60vh;width:50vw;background-color:transparent;margin-left:25vw;
              margin-right:25vw;">
              <!-- image --><img  src="/assets/villaResort.jpg" alt="bg1" style="min-width: 100%;
              max-height: 100%;border-radius:25px">
    </div>
    <div style="height:35vh;width:70vw;background-color:transparent;margin-left:15vw;margin-right:15vw;color:white">
      <!-- content --><br/>
      <h3 style="text-align:center;"> &nbsp&nbsp<u>Villa Resort</u></h3>
      <p style="padding-left:10px">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna
         aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit
           esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
            occaecat cupidatat non proident, sunt in culpa qui officia
             deserunt mollit anim id est laborum</p>
             <p style="padding-left:10px;float:left">Maximum Accomodation :9</p>
            <p style="padding-right:10px;float:right">Price Starts at Rs.77999*</p>
      </div>
</div>
</div>
